<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <div class="container">
      <fieldset>
        <form action="/city" method="post">
          <input name="city1" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>

	<% if (typeof city == 'string' && city !== null) { %>
          <p>City=<%= city %></p>
        <% } %>

        <% if (typeof error == 'object' && error !== null) { %>
          <p><%= error %></p>
        <% } %>

      </fieldset>
    </div>
  </body>
</html>
